/* form 2 */

	#form2{
		margin:1em 0;
		color:#000;
		width:320px; /* customize width, this form have fluid layout */
		}
	#form2 h3{
		margin:0;
		background:black url(../img/forms/BlueForm/form_head_1.png) repeat-x;		
		color:#fff;
		font-size:20px;
		border:1px solid black;
		border-bottom:none;
		}		
	#form2 h3 span{
		display:block;
		padding:10px 20px;
		background:url(../img/icons/login_32.png) no-repeat 93% 50%;
		}				
	#form2 fieldset{
		margin:0;
		padding:0;
		border:none;	
		border-top:3px solid #000;
		background:#fff url(../img/forms/BlueForm/FormTop.png) repeat-x;		
		padding-bottom:1em;
		}		
	#form2 legend{display:none;}	
	#form2 p{margin:.5em 20px;}	
	#form2 label{display:block;}	
	#form2 input, #form2 textarea{		
		width:272px;
		border:1px solid blue;
 		background-color:#888;
		color:#fff;
		padding-top:5px;
		padding-bottom:5px;
		}		
	#form2 textarea{
		height:125px;
		overflow:auto;
		}					
	#form2 p.submit{
		text-align:right;
		}	
	#form2 button{
		padding:0 20px;
		height:32px;
		line-height:32px;		
		border:1px solid #fff;
/* 		background:#fff url(../img/forms/BlueForm/form_button.gif) repeat-x; */
		vertical-align: top;
		border-radius: 8px;
		background: rgb(181,189,200);
		background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1)));
		background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
		background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); 
		background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); 
		background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
		color:#fff;
		cursor:pointer;		
		text-align:center;		
		}				

/* // form 2 */ 
